.pros-and-cons-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  min-height: stretch;
  text-align: center;
}

.pros-list {
  --ion-background-color: #b5dfb1;
  background: var(--ion-background-color);
  --ion-item-color: #00942a;
  --ion-item-border-color: #00942a;
  --ion-color-primary: #00942a;
}

.cons-list {
  --ion-background-color: #ff9c9c;
  background: var(--ion-background-color);
  --ion-item-color: #940202;
  --ion-item-border-color: #940202;
  --ion-color-primary: #940202;
}
